<form asp-action="GetImage" method="post" enctype="multipart/form-data">
    <input type="text" name="query" id="searchField" placeholder="Type your search query">
<input type="submit" value="Submit" class="btn btn-primary"/>
</form>